{% extends 'layout.html'  %}
<!--slider block-->
{% block slider %}
{% endblock %}
<!--end-->
{% block images_grid %}
<!--modal-->
<div class="wrapper">
<div class="cat-main-container">
            <div class="content">
                  <div class="about-content-wrapper">
                         <h2 class="about-content-name">Popular collections of images</h2>
                     <h4 class="about-content">Browse our most popular collections of stock photos. We're constantly adding new pictures to seasonal and trending categories. All our images are for personal and commercial use.</h4>
                  </div>
            </div>
   	    <a class="cat-container-link" href="{% url 'accessories' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/_20jaU-UfLp0J7z6sdg-7D3RCSEdHwOV2e4he9ANxeel8QvOYHOVjza2S3exCyMoaBKKlhP66RjfVizDHdEGKR9Xo5fsW4vXHxh1TNSaVVs-82eQiVF2TNVnGKLyCjZtJlmvT8RRV4w=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">accessories</h1>
            </div>
            </div>
        </a>
        <a class="cat-container-link" href="{% url 'art' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/h-L7c3BX5f3XBcK5Xt9sid4vyfu-EIvBfRX4ZelGp8ZJN-y6GIDfF2GnQX_VV_2pNlGbhXxsO0KTf8UmMLLPjUiCGSRN74VwtMkbNNfmBugSb1Vf2SMGoq_R7PQGpyI0ybS9fM69FIU=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">art</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'backgrounds' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/aWZIVrq9p8nrvETGz69-MB3kRG_vLtuUV-_hHEF1JgyopLdUzhFDY8uTrlLexJzXH-6d4hAJ0gcu2r6UrUaZTApI5mHQ6VqnC-DipZ-efKAqH_NdZZHHvjDThsSTfj95HaCy0yKw5p8=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">Backgrounds</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'beauty' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/-0VIrEthJDuAXsTgiuuZBFUEgSwx2NOxhDO77gtQFY4_a3VonvJCC1V3AT8B9DP8rLe9k4a-GJcMGEFfWOmA1rtjPPmFnp3H8QgHEjUE3DhGtC73FhchNuTYrMGkxCqYNfQ_NF0yt-M=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">beauty</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'business' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/ovBeVCCZ9YqgrUJTeQQwHedZ0TYM5HIuDsJe7WnB38LgS7FeSJG4GzNm_OrC5TztWvnyUJcxXjALOrgpbTy0SEfSuORt4ZhM7DwsK8l0k5A-oMEDlKPkx8R_0W8eT3ivqX41kEwScMc=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">business</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'celebrate' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/J51m80g8fL9uAp8BzB-oVlCHiFl0QH9zXCvJAYr6vMtj5KkFUAi3fSVNFsLS5S-8oR7YgkpWYZIguzciHNSP0pBmaaY4wzVUBjibb8mW72SMZ2A8nxxu8YE1QXCWC3VXZLBScnJMHzQ=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">celebrate</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'children' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/qoE-Po2MuYfGxG8Hk9SIBIa6PH3KoTD4OL1KZKGGxjj3z8xAM5kKRIA_fXfFD4i89I6l6mTFNjezv_8Ab1FKABK2YMHg_OWwTdgZt8yA5lP6Y5hBSujxvU7HSbNQVSPl06414_B_Aa8=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">children</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'cinema' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/zgW20z1VLtguV43rBDiqVnPJLsX4zLfEPCXyRFSwVbTIZYTsbZEQbgWqRkOKvdKRlG7ikdVgfCUASbLU1Y5Of7pCGqbqaO3zyqwL2YRkP8SvsYsvE0nGSmBhzLW1P5kJJqfWnEuEjAc=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">cinema</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'city' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/nrmENZgNlvPg2Zov2ccuUU4gDP8sEhs93YZUhC66dqqZ0nm2QqDq3O1vtUPrwr-DtENDZ8VXZegTPVBzWBaOhOwu411tQ2twQJVP6uJVNfkNYRgLOu2TPfZKVZ-q6J5eDCs_h3Cr8zI=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">city</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'communication' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/K0-27BWKdanRrmhDZkUIkM6oQnIDwLM5igjTlfHmJzej8ZyJuXgdz9XQtg7Z8JrX1eXBqzm-flMJZZ_xAcNWZ-AOvT-FOBxnMG-aXzb9qjYpO_2b6KExXQjqrTfFV5vbRbk5ADaRngE=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">communication</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'education' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/PFhkZBPAbUaEdgwyIvjSoUZYuJpH8tVyi3xXxLmpzhavq9lrPNK0hz0Lp-JMfB4S-mFqfSC2nx3KwyxEVtcJOmEpoAqLmZqr_g0dOyNxJNh21Saj-5-qRueFUA071mTaHPmc7BaMroY=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">education</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'fashion' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/zp4UmLeiaMAW8eVxhGARmVmveAXjPGLcKWoxQGfZ7gkDolORyRZnWyzno-onz4ssP0Sv6WUoqZV4a3BrJMpHQCXAaOYCsTSMdp6mPKTLs929dyU6unenLZhKaLhJKOhzGBDz0A8W9TE=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">fashion</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'fitness' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/Hra4ORRADrIXzmAGqUIAm0zXIBUhu8czGNOCUvLkLtJ-eVXK1Ej6rP48BcIiw40NyxMPx9L-88w5sfwIEeWd2U9hA5iFkPbUQflYqbc_CMgOa-VzhcC9lO7M46LBwdOAhsVxpgpli8Q=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">fitness</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'flowers' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/zsbIum8qmN4pzipu0puwC5uHAfjfE4R72zUK0k1P1IiXy787YLvNm4_hY1OjRkmlYSYpZ17X8Kp9TCTPiw1x5HgV9HSkKQOkPZh9A92hwyN3OYsay0ktMHdzgHBn8Y__jbeUm_iq9bg=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">flowers</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'food' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/71OI4E-UJWQdrxN2Eul7Y1fUDXgU8r0hxpzFcVs8-X5DmqOQarGxjmenMtnG41DYzGG6ivvrGg9YocYjFKqtJkJZWuAfodwXX4WC0ogsRuTWHjy2dECHDsGbW6AQYMpY60Bb3HNjGRk=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">food</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'health' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/gkxGn_WEQTl05aVa9otgHQOOQC9MBKISXY9keRT3AB1nSA1KhK-3Lm3fJ32zruP5cogy2Zg2v0RUaYU4yFhOilNLs0-W-rudij-0e2BiMgVbxYrczkCKNBNyBnEAbNyUost-9c9HZ0Y=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">health</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'holidays' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/ChIK339e4CMk-k1MtCb0MPL1Cr5z7aa9KefEl8k4gxvRhdWmntZlz_L7WcZV8IpAZGZ_nl9b4bsgfrVs1grilDD_1eIZVjq4vVylAuQTA5IBp0wZqzuuBd9rR__XUI54bMuqMr66aCI=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">holidays</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'home_cat' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/gKxm_y7GjTLQOu6TYv9Cgc6_e96bs3YDLTF80l8Q9-kiKwXeJTtxjRwb3cPfAik5ScvM0MEdRpK1HRESo8ZJcPYB0nVl-de8Rbgrer6WhW7r_iYJuVVs_Va6uPyyA-mPg8d2d7e-tWs=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">home</h1>
            </div>
            </div>
        </a>
     <a class="cat-container-link" href="{% url 'jewlery' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/Wgj7wJ0yNVdtbQsP-Y2yvXYwtC2pjDs_9_vGv_H_PFK1ZCxGr5-Rro966KRE7tUxM76MZOF_nozl_Indbpbf5OpmXrLE8Wmbvhb8m2R3oAIO18273R_7u9ktyPYS4H6FUPYWxdR-sSE=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">jewelry</h1>
            </div>
            </div>
        </a>
        <a class="cat-container-link" href="{% url 'landscape' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/6NXk5W6k_Go7lgAySl150QO9wyheH2RCunMvzMibosI9KTHlD22pSxu1xgjJzNUe17ovpuYQ7a5nczks5JdxoD65a60yEeVATZtGkluSDpkebiZHe87cZMPcLqQsNhw8Ku8STjwolm0=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">landscape</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'love' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/JKlT-0PwynjIR-s8fTieWSUUnCN2_gVGXkSqTtKHsADfX5eXtyNbqyieQpcUZyaKAM0zb5NdbRm3A15n2x2IBfH-z4NPt4lf-EQBFOKuJ8wenvDGhNe3l3RcCRqRQwU1UP68xDnMbs4=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">love</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'money' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/ZtZD_sHPirbbSQltDRMYXi2URIhg8UObh0n5RSznTa82KcQg-BibBclOTB0-5PmU_k3qbverl5QS3vYKGU4Kw2fJf7OuO21ZYz0cBTlePT5ueaTm9jHtcyObBX-9FvoL0zvErCpGSOg=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">money</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'nature' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/wBKu4rvFL10cFq5WPQKk4iLqFjCtvkzwrXBij_-MOfWQqWpqHPj4719D5QfJ4DguDB4gV-mXtMk2OU09jySwXqmqNmfSs4nMb7IB2RBg7u9xn3fqE2dp0_He2clHCxbimh_QjSi-99k=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">nature</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'people' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/JdoNcikjYizqU5Bas3sOp9VjLjbsGuZ3JHOXbGUvbhJ0g1Fnojo_NbQW5E_O3R-3_VGu3RCNPSq_cm2UosX0D0yXT-xsTbgZAIZj0idJiTLzdZlIbH6vJXE4KdHGoEYNVspFC2qYgNI=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">people</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'recreation' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/ltFVZb6ejdH-W_s1uu44UOm1ScndFGIDhJKe9wPuuXAJ-V8_h_ZwV47uvhQpXhZD-LD5IHKuHP-YsXyjbCUsBjqHgjJk3gff38A-r9G9Rqa2bxeCgI1PsYWaOyV1VEAeMMinQwu3rOc=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">recreation</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'retail' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/h50LSXMLydYIDxYs52WWlPXsK4uhOGOK4cFB-dH10vmDnTDp5-K3C4nvYnH_T6jIZrqy7pP0775zIA-zonDkiguxjr9UZ3hqb4q9ktUtpteAiWwAWpTAhiCVk8HUnTMAm4ZhHWpWzrA=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">retail</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'seasons' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/gYFAjGr24e4N_LnOFgGs6w3usx04Y13BOTJeIHIUMvb3vcxxBfKmRdjldWK5InOqS7Ywmqaul9r0VnG9eq76nEWAir-ycbgF4m6pg9bNv8JWEMNgcdt0mYg2uX56vMXBPx0C9vt1Y8I=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">seasons</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'spring' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/afcvRCQpZfp75ANGxPjZIm7kFbkRAMZvMPzcp5-_U0W7sdZltl809nQkRhNuyOwvIFM8D9o1wJQUk1bGI-IQrnPBmOgkQoJ7hKDhPuZeyeP7z35Wp_qCx0xEl2mYaX5aqg1_fjFyJfU=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">spring</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'technology' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/nPIjNVhkSCeMK6NYMPvqQ_L_BK1HWJmXAv8IpFfabGqmvXcw4WgRIqUekNwAEgXqNdQzLpDwIptTl3ZAtHB0J1nK8UkFRyJNJpfbplv1W8fkW_EjvSaovEmKUaeT9Hz3HUOPxCF8rAg=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">technology</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'transportation' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/_dNG-umC6tdkWbuRee98bCo_flTDDlNvM0fUqP5RIgkQj6EHyO6D2Rd8uI25-oMFU73vLvGkEOlX5pkhcEPtxrsx2WJgM2uMl2Uo8NLIORLNZEyMMF9qr1aEQRbmudKd4KMRNLHZb0A=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">transportation</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'travel' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/Ibgu7PByeopGqXfDZ--mdmPbG_p0_BLbo6UJPxT7mjmopnrfOzYhtFkp5HG6cqckoCHn07S4t12jXfloIoK7k5oNWd4kAtdcmOV68cLZ0SdJCIDMJDOXYVPZBgSQeN_o70ZCw-Alg18=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">travel</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'urbanlife' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/YtVmrdBuxZLHX4vO22_8R-Zyh8aDC7lBavb8PLy7TxaoIlpCrVjeF3j7Ybg1sGhJyFvGBtm8z4VArSDeAwYgk-7QF50KOL_pk3Q9DVBbrSaARCiR1VNyLJfOfqj0S2Wr_RQ-xe4YRfA=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">urbanlife</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'wellness' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/2OKSrzCC1GJz7KfXaapY-Eg0eds5OmrFgGQEuUo7a64qk761XfwaxyR-Em5rFtWf83igSD0RE2fU2Y4nXdgowd6-4FIV7CAz5f1p8SoN96VbUG0IqFXlT7oV731z6_6LCyji9fFqGJM=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">wellness</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'work' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/mmZ7G-2XbL34xCo0wWg_5XEzYCqnb76FwH7fwCmTsB6Uf2h15aAhGCzHTHrHoZbzZGP7V7N8vjpZ3NLClPB81f41aummWVIlIC7NWMBgONNa5HIaUFZILSoA6-TTLayabR-q9GMUlC8=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">work</h1>
            </div>
            </div>
        </a>
    <a class="cat-container-link" href="{% url 'world' %}" >
            <div class="cat-container">
              <img src="https://lh3.googleusercontent.com/TY9uxwNxAIsQg3Ozkp7-dOK80-RcjFnG6IAiy-VltoHAgbRg53jQxz_fAkWrjd18iNiBulTSHbE04afVOxapZkMOp6pL_uLo-PHJnOdFCg7fRrdFQndJUxAx4g3I7hu4v1kvEN55-bM=w2400" alt="tulip" />
            <div class="cat-overlay">
                <h1 class="cat-img-text">world</h1>
            </div>
            </div>
        </a>


   	</div>
</div>
<!--endmodal-->
{% endblock %} %}